.navHomeIcon{
    text-align: right;
    justify-content: center;
    margin-right: 10%;
}

.navLogo{
    width: 10%;
    height: 10%;
}

.navText{
    vertical-align: 14px;
    display: inline-block;
    margin-right: 2%;
}
