.Button {
    /*background-color: rgb(58,210,203);*/
    border: none;
    color: white;
    margin: 5px 4px;
    padding: 10px 10px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    font-size:inherit;
    box-shadow: 0 2px 80px rgba(0,0,0,0.1);
}

.Button:hover{
    box-shadow: 0 10px 40px rgba(0,0,0,0.2);
}

.Button:active{
    box-shadow: 0 0 40px rgba(0,0 ,0,0.15);
}


.registerButton{
    padding: 5px 5px;
    margin: 0;
}

.homeButton{
    margin-top: 20px;
    border: solid 1px white;
}

.houseInfoButton{
    position: absolute;
    display: block;
    top: -0.5%;
    right: 75%;
    width: 20%;
}

.houseDetailButton{
    width: 567px;
}