#whyKhaneBeDooshTitle{
    font-size: 40px;
    color: rgb(49,49,49);
    padding-bottom: 25px;
}

#bodyContainer{
    position: relative;
    margin-top: 3%;
    margin-bottom: 10%;
}

#why-image {
    width: 100%;
}

li{
    margin: 20px 20px;
}

.ticks{
    color: rgb(82,72,156);
    margin-left: 5px;
}

.why-image {
    float: left;
}