.navButton{
    /*position: absolute;*/
    /*border: solid 1px white;*/
    background-color: transparent;
    height: 40px;
    /*margin: 20px 20px 20px 50px;*/
    padding: 2px 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size:inherit;
    border-radius: 5px;
    float: left;
}

.smiley{
    margin-left: 3px;
}