.dropdown-hoverable{
    height: 80px;
}

.dropdown-content{
    display: none;
    position: absolute;
    left: 1%;
    top: 60px;
    /*float: left;*/
    width: 150%;
    /*background-color: #f9f9f9;*/
    /*min-width: 160px;*/
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}


.username{
    display: block;
    font-weight: bold;
    text-align: right;
}

.credit{
    height: 150px;
    text-align: center;
    padding: 10px 10px;
    font-size: 110%;
}

.credit *{
    padding-top: 5px;
    padding-bottom: 10px;
}

.creditName{
    float: right;
}

.creditValue{
    float: left;
}

.increaseCredit{
    margin-right: 2px;
}

