.header{
    background-image: url("../../images/geometry.png");
    width: 100%;
    height: 100px;
}

.nav2Text{
    font-weight: bold;
    font-size: 30px;
}

.nav2{
    width: 100%;
}

.nav2 li{
    width: 50%;
}
