footer{
    background-color: rgb(24,89,86);
    color: white;
}

.SmallPageFooter{
    position: absolute;
    bottom: 0;
    width: 100%;
}


.RightsReserved{
    margin-top: 22px;
}

.Footer{
    padding-right: 10%;
    padding-left: 10%;
}

.footerIcon{
    height: 50px;
    margin-top: 8px;
}

.miniIcons{
    width: 30px;
    height: 30px;
    float: left;
    margin: 7px;
}