.HouseDetailImage{
    height: 330px;
    width: 567px;
    border-radius: 3%;
    margin: 5px 4px;
}

.DetailFormTable{
    /*height: 300px;*/
    max-width: 567px;
    margin-top: 10px;
}

.DetailFormTable tr:first-child > td {
    border: none;
}
.DetailFormTable tr:last-child td {
    border-bottom: 1px rgb(222, 222, 222) solid;
}