.houseImage{
    position: relative;
    width: 100%;
    height: 60%;
    border-radius: 4px;
}

.locationIcon{
    color: red;
}

.line{
    border-top: 1px solid #8c8b8b;
    width: 95%;
    margin-top: 5%;
}

.currency{
    font-size: 12px;
    color: darkgray;
}