.logo{
    width: 35%;
    height: 35%;
}

.headerIcon{
    position: relative;
    /*justify-content: center;*/
    /*width: 100%;*/
    text-align: center;
    height: 5%;
    /*right: 35%;*/
    margin-bottom: 10%;
}

.headerTitle{
    text-align: center;
    font-size: 22px;
    margin-top: 2%;
    margin-bottom: 2%;
}