.DealTypeRadio{
    display: inline-block;
    margin: 20px 5px;
    text-align: right;
}

.rentDiv{
    float: left;
}

#rent{
    vertical-align: -2px;
}

#sell{
    vertical-align: -2px;
}

.sellDiv{
    float: right;
}