/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/


@font-face {
    font-family: Shabnam;
    src: url('./fonts/shabnam-font-v3.0.0/Shabnam.eot');
    src: url('./fonts/shabnam-font-v3.0.0/Shabnam.eot?#iefix') format('embedded-opentype'),
    url('./fonts/shabnam-font-v3.0.0/Shabnam.woff') format('woff'),
    url('./fonts/shabnam-font-v3.0.0/Shabnam.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: Shabnam;
    src: url('./fonts/shabnam-font-v3.0.0/Shabnam-Bold.eot');
    src: url('./fonts/shabnam-font-v3.0.0/Shabnam-Bold.eot?#iefix') format('embedded-opentype'),
    url('./fonts/shabnam-font-v3.0.0/Shabnam-Bold.woff') format('woff'),
    url('./fonts/shabnam-font-v3.0.0/Shabnam-Bold.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: Shabnam;
    src: url('./fonts/shabnam-font-v3.0.0/Shabnam-Light.eot');
    src: url('./fonts/shabnam-font-v3.0.0/Shabnam-Light.eot?#iefix') format('embedded-opentype'),
    url('./fonts/shabnam-font-v3.0.0/Shabnam-Light.woff') format('woff'),
    url('./fonts/shabnam-font-v3.0.0/Shabnam-Light.ttf') format('truetype');
    font-weight: 300;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    margin: 0;
    font-family: Shabnam, serif;
    direction: rtl;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.Card {
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
    margin: 10px 2px;
    padding: 20px;
    background-color: white;
}

.MarginTopAndBottom{
    margin-top: 50px;
}

.EndOfPageMarginBottom{
    margin-top: 10px !important;
    margin-bottom: 30px !important;
}

.SearchAgain{
    font-size: 21px;
}

.LightCondensed p{
    margin-top: 20px;
}

/*.headerSearch .LightCardCondensed{*/
    /*padding-bottom: 20px;*/
/*}*/

/*.lightCard:hover {*/
/*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.1);*/
/*}*/

.LightCard{
    box-shadow: 0 2px 80px rgba(0,0,0,0.1);
    background-color: white;
}

.LightCondensed{
box-shadow: 0 2px 40px rgba(0,0,0,0.1);
}

/*.LightCondensed:hover{*/
/*box-shadow: 0 20px 40px rgba(0,0,0,0.1);*/
/*}*/

.LightCardCondensed:hover{
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.LightCondensed:hover{
    box-shadow: 0 20px 40px rgba(0,0,0,0.1);
}

.BlackCard{
    box-shadow: 0 2px 80px rgba(0,0,0,0.1);
    background-color: rgba(0,0,0,0.4);
    padding: 30px 30px;
}
.BlackCard a{
    color: white;
}

input{
    border-radius: 10px;
    font-size: 20px;
    border: 1px solid darkgray;
}

main{
    margin-top: 5%;
}


input[type="text"] , select , input[type="password"] {
    margin: 5px 5px;
    padding: 4px 6px 4px 10px;
    border-radius: 5px;
    background-color: white;
    width: 100%;
    height: 40px;
    font-size: 20px;
}

input[type="radio"]{
    margin-left: 5px;
    /*margin-right: 2px;*/
}

select:invalid {
    color: gray;
}
#secondInputRow{
    margin-top: 10px;
}

select:invalid { color: gray; }

.mainHeader {
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
    top: 0;
    padding: 2% 5%;
    background-color: white;
}

.homeHeader{
    width:100%;
    height: 45%;
    justify-content: center;
}

p.Label{
    text-align: left;
    font-size: 16px;
    margin-bottom: 2px;
}
p.DarkLabel{
    color: darkgray;
    text-align: left;
    font-size: 18px;
    margin-bottom: 5px;
}

#PayBody{
    margin-top: 20px;
}


/*#cf img {*/
/*position:absolute;*/
/*left:0;*/
/*width: 100%;*/
/*height: 60%;*/

/*.headerSearch{*/
    /*position: relative;*/
    /*justify-content: center;*/
/*}*/

.dealTypeSelect{
    margin-top: 23px;
}


/*                              ........................                    */


.dropdown:hover .dropdown-content{
    display: block;
}


.dropdown .dropdown-hoverable:hover .dropdown-content{
    display: inline;
}
.purple{
    color: purple;
    border: purple;
}

.white{
    color: white;
}



.cyan{
    color: rgb(58,210,203);
}



.bcyan{
    background-color: rgb(58,210,203);
}

.byellow{
    background-color: rgb(222, 222, 0);
    color: black !important;
}
.bred{
    background-color: red;
    width: 33%;
    right: 63%;
}

.bpurple{
    background-color: rgb(99, 90, 165);
}

.darkgray{
    color: darkgray;
}

.searchContainer{
    position: relative;
    margin-top: 2%;
    margin-bottom: 2%;
    padding-bottom: 10px;
    border-radius: 5px;
}

div .LightCardCondensed{
    padding: 0;
    margin-top: 1%;
    margin-bottom: 1%;
}

.LightCardCondensed div{
    margin-top: 2%;
}

.LightCardCondensed p{
    /*font-size: 18px;*/
    margin-top: 3%;
    margin-right: 2%;
    margin-left: 5%;
    display: inline-block;
}

.LightCardCondensed p.left{
    float:left;
}

.LightCardCondensed p.right{
    float: right;
}

.LightCardCondensed p.middle{
    text-align: center;
}

.headerSearch .LightCardCondensed{
    padding-bottom: 20px;
    margin-bottom: 30px;
    height: 470px;
}

.formRow {
    min-height: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}