.navigationBar{
    /*padding-top: 20px;*/
    width: 100%;
    /*height: 60px;*/                                                                           /*     ------------------         */
}

.dropdown{
    position: relative;
    display: inline-block;
    float: left;
    height: 100%;
    /*overflow: hidden;*/
}
