.cf {
    width: 100%;
    overflow: hidden;
    position:absolute;
    margin:0 auto;
}
.cf div {
    animation: headerBackground;
    height: 700px;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    width: 400%;
}
.cf div img {
    float: right;
    width: 25%;
    height: 100%;
}

@keyframes headerBackground {
    0%, 15% {
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
        transform: translateX(0%);
    }
    25%, 40% {
        -webkit-transform: translateX(25%);
        -moz-transform: translateX(25%);
        -ms-transform: translateX(25%);
        -o-transform: translateX(25%);
        transform: translateX(25%);
    }

    50%, 65%{
        -webkit-transform: translateX(50%);
        -moz-transform: translateX(50%);
        -ms-transform: translateX(50%);
        -o-transform: translateX(50%);
        transform: translateX(50%);
    }

    75%, 90%, 100% {
        -webkit-transform: translateX(75%);
        -moz-transform: translateX(75%);
        -ms-transform: translateX(75%);
        -o-transform: translateX(75%);
        transform: translateX(75%);
    }

}