#payForm{
    margin-top: 40px;
    height: 100%;
}

#Toman{
    font-size: 26px;
    color: initial;
}

#CurrentCredit
{
    font-size: 26px;
    color: darkgray;
    white-space: pre;
    padding-top: 27px;
}