.fieldDetailValue{
    margin-right: 30px;
}

.valueTd{
    padding: 7px;
    width: 70%;
}

.fieldDescriptionValue{
    line-height: 23px;
}

.fieldDetailLabel{
    vertical-align: middle !important;

}

.numberValue{
    float: left;
    width: auto;
}